@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model MVC_CRUD.Models.Domain.Book


<style>
    body {
        margin: 0;
        color: #2e323c;
        background: #f5f6fa;
        position: relative;
        height: 100%;
    }

    .account-settings .user-profile {
        margin: 0 0 1rem 0;
        padding-bottom: 1rem;
        text-align: center;
    }

        .account-settings .user-profile .user-avatar {
            margin: 0 0 1rem 0;
        }

            .account-settings .user-profile .user-avatar img {
                width: 90px;
                height: 90px;
                -webkit-border-radius: 100px;
                -moz-border-radius: 100px;
                border-radius: 100px;
            }

        .account-settings .user-profile h5.user-name {
            margin: 0 0 0.5rem 0;
        }

        .account-settings .user-profile h6.user-email {
            margin: 0;
            font-size: 0.8rem;
            font-weight: 400;
            color: #9fa8b9;
        }

    .account-settings .about {
        margin: 2rem 0 0 0;
        text-align: center;
    }

        .account-settings .about h5 {
            margin: 0 0 15px 0;
            color: #007ae1;
        }

        .account-settings .about p {
            font-size: 0.825rem;
        }

    .form-control {
        border: 1px solid #cfd1d8;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        font-size: .825rem;
        background: #ffffff;
        color: #2e323c;
    }

    .card {
        background: #ffffff;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        border: 0;
        margin-bottom: 1rem;
    }
</style>

<div class="container">
    <div class="col-lg-9">
        <div class="section-title text-center">
            <div class="title-text">
                <h2>Update book</h2>
            </div>
        </div>
    </div>
    <div class="row gutters">

        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
            <div class="card h-100">
                <form action="/books/update/" method="post" enctype="multipart/form-data" name="foo">
                    <div class="card-body">
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h6 class="mb-2 text-primary">Book Details</h6>
                            </div>
                            <input type="hidden" id="BookID" name="BookID" value="@Model.BookId">

                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="fullName">Name</label>
                                    <input type="text" class="form-control" id="fullName" placeholder="Enter name" name="name" value="@Model.Name" required >
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="eMail">Author</label>
                                    <input type="text" class="form-control" id="eMail" placeholder="Enter author" name="author" value="@Model.Author" required>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="phone">Published</label>
                                    <input type="date" class="form-control" id="phone" placeholder="Enter date of published" required name="published">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="website">Publisher</label>
                                    <input type="text" class="form-control" id="website" placeholder="Enter publisher" value="@Model.Publisher" required name="publisher">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="website">Category</label>
                                    <input type="text" class="form-control" id="catgory" placeholder="Enter category" value="@Model.Category" required name="category">
                                </div>
                            </div>


                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="website">Description</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" name="description" placeholder="Enter description"  rows="3">@Model.Description</textarea>
                                </div>
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <input asp-for="Visible" checked="@Model.Visible">
                                    <label for="website">Visible</label>
                                </div>
                            </div>

                        </div>

                        <div class="row gutters">
                           
                            <div class="row gutters">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="text-right">
                                        <button type="submit" onclick="location.href='@Url.Action("Index", "Books")'" id="submit" name="submit" class="btn btn-secondary ">Cancel</button>
                                        <button type="submit" id="submit" name="submit" class="btn btn-primary ">Update book</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <script>document.foo.submit();</script>
            </div>
        </div>
    </div>
</div>