
@model List<MVC_CRUD.Models.Domain.Book>
@{
}

<h1>Books</h1>
<style>
    .card img {
       height: 20rem;
       object-fit: cover;
}

</style>
<div class="container-md">
    <div class="container">
        <div class="row justify-content-center">
             @foreach (var book in Model)
        {
            <div class="col-md-3">
                <div class="card" style="width: 15rem;">
                    <img class="card-img-top"
                         src="@("/Image/"+book.Image)"
                         alt="Card image cap">
                    <div class="card-body">
                            <h5 class="card-title">  <a href="@Url.Action("View", "Books",new {id=@book.BookId})" class="card-link">@book.Name</a></h5>
                        <p class="card-text">
                           @book.Description...
                           
                        </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Author: @book.Author</li>
                            <li class="list-group-item">Published: @book.Published.ToString("dd-MM-yyyy")</li>
                        <li class="list-group-item">Publisher: @book.Publisher</li>
                    </ul>
                    <div class="card-body">
                            <button type="submit" onclick="location.href='@Url.Action("AddReservation", "Reservation",new {id=@book.BookId})'" id="submit" name="submit" class="btn btn-primary ">Reserve</button>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>

   
</div>